@model TraversalCoreProje.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Mail Gönderme Sayfası</h1>

<form method="post">
    <div class="form-group">
        @Html.Label("Alıcı Mail Adresi")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Konu Başlığı")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Mesaj İçeriği")
        <textarea cols="30" rows="5" class="form-control" asp-for="Body"></textarea>
    </div>
    <br />
    <button class="btn btn-outline-primary">Mail Gönder</button>
</form>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
